  <form method="post" action="commitments">
    I am going to
    <input placeholder="eat 5 pigs" name="commitment[goal]">
    </input>
    by
    <input placeholder="tomorrow" name="commitment[when]">
    </input>
    <button  type="submit" >Please </button>
  </form>