header {
	color:#4060a0;
	font-size: 45px;
	border-bottom: 1px solid black;
	margin-bottom: 30px;
}

body {	
	font-family: helvetica;
}

input {
	background-color: #eeeeff;
	border-radius: 15px;
	border: 2px solid gray;
}